domains:
- domain: ws.conference-hell-dev.phu73l.net
  type: PRIMARY
ingress:
  rules:
  - component:
      name: service
    match:
      path:
        prefix: /socket
  - component:
      name: static
    match:
      path:
        prefix: /
name: foo-app
region: sfo
static_sites:
- environment_slug: html
  github:
    branch: dev
    deploy_on_push: true
    repo: futel/transcript-conference-hell
  name: static
  source_dir: public
  index_document: index.html  
services:
- environment_slug: python
  github:
    branch: dev
    deploy_on_push: true
    repo: futel/transcript-conference-hell
  http_port: 6000
  instance_count: 1
  instance_size_slug: basic-xxs
  name: service
  run_command: python server.py
  source_dir: src
  envs:
  - key: GOOGLE_CREDS_JSON
    scope: RUN_AND_BUILD_TIME
    value: '{GOOGLE_CREDS_JSON}'
  - key: AWS_ACCESS_KEY_ID
    scope: RUN_AND_BUILD_TIME
    value: '{AWS_ACCESS_KEY_ID}'
  - key: AWS_SECRET_ACCESS_KEY
    scope: RUN_AND_BUILD_TIME
    value: '{AWS_SECRET_ACCESS_KEY}'
  - key: OPENAI_API_KEY
    scope: RUN_AND_BUILD_TIME
    value: '{OPENAI_API_KEY}'
  - key: TWILIO_ACCOUNT_SID
    scope: RUN_AND_BUILD_TIME
    value: '{TWILIO_ACCOUNT_SID}'
  - key: TWILIO_AUTH_TOKEN
    scope: RUN_AND_BUILD_TIME
    value: '{TWILIO_AUTH_TOKEN}'
